<section class="school-display-section container-fluid">
  <div class="cards cards-outer wrapper" id="school-section">
    <h3>Schools</h3>
    <div class="row">
      <div
        class="cols col-sm-3"
        ontouchstart="this.classList.toggle('hover');"
      >
        <div class="card text-dark mb-3" style="width: 18rem">
          <img
            src="https://unsplash.it/500/500/"
            class="car-img-top"
            alt="..."
          />
          <div style="text-align: left" class="card-body">
            <h5 class="card-title">Ryan International School</h5>

            <a href="product-by-school.html" class="btn btn-primary"
              >Show uniforms</a
            >
          </div>
        </div>
      </div>
      <div
        class="cols col-sm-3"
        ontouchstart="this.classList.toggle('hover');"
      >
        <div class="card text-dark mb-3" style="width: 18rem">
          <img
            src="https://unsplash.it/500/500/"
            class="car-img-top"
            alt="..."
          />
          <div style="text-align: left" class="card-body">
            <h5 class="card-title">Delhi Public School</h5>

            <a href="product-by-school.html" class="btn btn-primary"
              >Show uniforms</a
            >
          </div>
        </div>
      </div>
      <div
        class="cols col-sm-3"
        ontouchstart="this.classList.toggle('hover');"
      >
        <div class="card text-dark mb-3" style="width: 18rem">
          <img
            src="https://unsplash.it/500/500/"
            class="car-img-top"
            alt="..."
          />
          <div style="text-align: left" class="card-body">
            <h5 class="card-title">Amity International School</h5>

            <a href="product-by-school.html" class="btn btn-primary"
              >Show uniforms</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Uniforms section -->
<section class="uniform-display-section container-fluid">
  <div class="cards cards-outer wrapper" id="school-section">
    <h3>Uniforms</h3>
    <div class="row">
      <div
        class="cols col-sm-3"
        ontouchstart="this.classList.toggle('hover');"
      >
        <div class="card text-dark mb-3" style="width: 18rem">
          <img
            src="https://unsplash.it/500/500/"
            class="car-img-top"
            alt="..."
          />
          <div style="text-align: left" class="card-body">
            <h5 class="card-title">Shirt</h5>

            <a href="product-by-type.html" class="btn btn-primary"
              >View all</a
            >
          </div>
        </div>
      </div>
      <div
        class="cols col-sm-3"
        ontouchstart="this.classList.toggle('hover');"
      >
        <div class="card text-dark mb-3" style="width: 18rem">
          <img
            src="https://unsplash.it/500/500/"
            class="car-img-top"
            alt="..."
          />
          <div style="text-align: left" class="card-body">
            <h5 class="card-title">Trousers</h5>

            <a href="product-by-type.html" class="btn btn-primary"
              >View all</a
            >
          </div>
        </div>
      </div>
      <div
        class="cols col-sm-3"
        ontouchstart="this.classList.toggle('hover');"
      >
        <div class="card text-dark mb-3" style="width: 18rem">
          <img
            src="https://unsplash.it/500/500/"
            class="car-img-top"
            alt="..."
          />
          <div style="text-align: left" class="card-body">
            <h5 class="card-title">Skirt</h5>

            <a href="product-by-type.html" class="btn btn-primary"
              >View all</a
            >
          </div>
        </div>
      </div>

      <div
        class="cols col-sm-3"
        ontouchstart="this.classList.toggle('hover');"
      >
        <div class="card text-dark mb-3" style="width: 18rem">
          <img
            src="https://unsplash.it/500/500/"
            class="car-img-top"
            alt="..."
          />
          <div style="text-align: left" class="card-body">
            <h5 class="card-title">Others</h5>

            <a href="product-by-type.html" class="btn btn-primary"
              >View all</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
