{% load static %}

<section class="colored-section" id="title-section">
  <div class="container-fluid">
    <div id="carousel-title" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img
            src="{% static 'img\children img2.jpg' %}"
            class="d-block w-100"
            data-bs-interval=""
            alt="..."
          />
        </div>
        <div class="carousel-item">
          <img
            src="{% static 'img\children img1.jpg' %}"
            data-bs-interval=""
            class="d-block w-100"
            alt="..."
          />
        </div>
        <div class="carousel-item">
          <img
            src="https://miro.medium.com/max/2800/1*ftYXPbT-i19JxoUToHrUoQ.png"
            class="d-block w-100"
            data-bs-interval=""
            alt="..."
          />
        </div>
      </div>
      <a
        class="carousel-control-prev"
        href="#carousel-title"
        role="button"
        data-bs-target="#carousel-title"
        data-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      </a>
      <a
        class="carousel-control-next"
        href="#carousel-title"
        role="button"
        data-bs-target="#carousel-title"
        data-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
      </a>
    </div>


  </div>
</section>
