{% load static %}
<link rel="stylesheet" href="{% static 'css/product.css' %}">

<!-- sidebar -->

<div class="card-sidebar card col-md-3">
  <!-- search -->
  <div class="row searchbar">
    <section class="mb-4">
      <div
        class="md-form md-outline mt-0 d-flex justify-content-between align-items-center"
      >
        <input
          type="text"
          id="search12"
          class="form-control mb-0"
          placeholder="Search by School"
        />
        <a href="#!" class="btn btn-flat btn-md px-3 waves-effect"
          ><i class="fas fa-search fa-lg"></i
        ></a>
      </div>
    </section>
  </div>
  <hr />
  <!-- filters -->
  <div class="Filters">
    <section class="mb-4">
      <h6 class="mb-3">Items</h6>

      <div class="form-check pl-0 mb-3">
        <input
          type="checkbox"
          class="form-check-input filled-in"
          id="new"
        />
        <label
          class="form-check-label small text-uppercase card-link-secondary"
          for="new"
          >Shirt</label
        >
      </div>
      <div class="form-check pl-0 mb-3">
        <input
          type="checkbox"
          class="form-check-input filled-in"
          id="used"
        />
        <label
          class="form-check-label small text-uppercase card-link-secondary"
          for="used"
          >Trousers</label
        >
      </div>
      <div class="form-check pl-0 mb-3">
        <input
          type="checkbox"
          class="form-check-input filled-in"
          id="collectible"
        />
        <label
          class="form-check-label small text-uppercase card-link-secondary"
          for="collectible"
          >Skirt</label
        >
      </div>
      <div class="form-check pl-0 mb-3 pb-1">
        <input
          type="checkbox"
          class="form-check-input filled-in"
          id="renewed"
        />
        <label
          class="form-check-label small text-uppercase card-link-secondary"
          for="renewed"
          >Tie</label
        >
      </div>
      <div class="form-check pl-0 mb-3 pb-1">
        <input
          type="checkbox"
          class="form-check-input filled-in"
          id="renewed"
        />
        <label
          class="form-check-label small text-uppercase card-link-secondary"
          for="renewed"
          >Belt</label
        >
      </div>
      <div class="form-check pl-0 mb-3 pb-1">
        <input
          type="checkbox"
          class="form-check-input filled-in"
          id="renewed"
        />
        <label
          class="form-check-label small text-uppercase card-link-secondary"
          for="renewed"
          >Shoes</label
        >
      </div>
      <div class="form-check pl-0 mb-3 pb-1">
        <input
          type="checkbox"
          class="form-check-input filled-in"
          id="renewed"
        />
        <label
          class="form-check-label small text-uppercase card-link-secondary"
          for="renewed"
          >Accessories</label
        >
      </div>
      <hr />
      <h6 class="mb-3">Seasonal</h6>

      <div class="form-check pl-0 mb-3">
        <input
          type="checkbox"
          class="form-check-input filled-in"
          id="new"
        />
        <label
          class="form-check-label small text-uppercase card-link-secondary"
          for="new"
          >Summer</label
        >
      </div>
      <div class="form-check pl-0 mb-3">
        <input
          type="checkbox"
          class="form-check-input filled-in"
          id="used"
        />
        <label
          class="form-check-label small text-uppercase card-link-secondary"
          for="used"
          >Winter</label
        >
      </div>
    </section>
  </div>
</div>
